body{
   background-color:rgba(207, 202, 202, 0.587);
}
  header{
   background-color: rgb(6, 91, 6);
    border: 80px;
    width: 500px;
    height: 50px;
    text-align: center;
    padding-top: 7px;
    margin: auto;
    color: white;
 }

 header h3 {
  margin-top: 0;
  
 }
 h1 {
    font-size: 40px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    height: 50px;
    background-color: white;
    padding: 20px;
    margin: 0%;
    border-color: green;
    border: 30px;
    }

    h2 {
      font-size: 50px;
      color: black;
      font-family: 'Courier New', Courier, monospace;
      width: 100%;
      height: 50px;
      background-color: white;
      padding: 20px;
      margin: 0%;
      border: 30px;
      
      
   }
   h4{
   background-color:white;
    width: 500px;
    height: 60px;
    text-align: center;
    font-size: 10;
    color: black;
    }
 
    .button {
      background-color:rgb(64, 102, 7);
      border: none;
      color: white;
      border-radius: 5px;
      padding: 13px 25px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 6px 4px;

    }
    
 .footer {
   background-color:white;
   width: 500px;
   height: 60px;
   text-align: center;
   font-size: 30;
   color: black;
 }

  p {
   background-color:rgb(64, 102, 7);
   width: 500px;
   height: 40px;
   padding-top: 15px;
   text-align: center;
   font-size: 10;
   color:white;
   margin: auto;
 }